// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2026 Rockchip Electronics Co., Ltd.
 */

#include <dt-bindings/clock/rockchip,rv1106-cru.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include <dt-bindings/reset/rockchip,rv1106-cru.h>
#include <dt-bindings/soc/rockchip,boot-mode.h>

/ {
	#address-cells = <1>;
	#size-cells = <1>;

	compatible = "rockchip,rv1106";

	interrupt-parent = <&gic>;

	arm-pmu {
		compatible = "arm,cortex-a7-pmu";
		interrupts = <GIC_SPI 126 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-affinity = <&cpu0>;
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu0: cpu@0 {
			compatible = "arm,cortex-a7";
			reg = <0x0>;
			clocks = <&cru ARMCLK>;
			device_type = "cpu";
		};
	};

	timer {
		compatible = "arm,armv7-timer";
		clock-frequency = <24000000>;
		interrupts = <GIC_PPI 13 (GIC_CPU_MASK_SIMPLE(1) | IRQ_TYPE_LEVEL_HIGH)>,
			     <GIC_PPI 14 (GIC_CPU_MASK_SIMPLE(1) | IRQ_TYPE_LEVEL_HIGH)>;
	};

	xin24m: oscillator-24m {
		compatible = "fixed-clock";
		clock-frequency = <24000000>;
		clock-output-names = "xin24m";
		#clock-cells = <0>;
	};

	pinctrl: pinctrl {
		compatible = "rockchip,rv1106-pinctrl";
		rockchip,grf = <&ioc>;
		rockchip,pmu = <&pmuioc>;
		ranges;
		#address-cells = <1>;
		#size-cells = <1>;

		gpio0: gpio@ff380000 {
			compatible = "rockchip,gpio-bank";
			reg = <0xff380000 0x100>;
			clocks = <&cru PCLK_PMU_GPIO0>, <&cru DBCLK_PMU_GPIO0>;
			gpio-controller;
			gpio-ranges = <&pinctrl 0 0 32>;
			interrupts = <GIC_SPI 5 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-controller;
			#gpio-cells = <2>;
			#interrupt-cells = <2>;
		};

		gpio1: gpio@ff530000 {
			compatible = "rockchip,gpio-bank";
			reg = <0xff530000 0x100>;
			clocks = <&cru PCLK_GPIO1>, <&cru DBCLK_GPIO1>;
			gpio-controller;
			gpio-ranges = <&pinctrl 0 32 32>;
			interrupts = <GIC_SPI 7 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-controller;
			#gpio-cells = <2>;
			#interrupt-cells = <2>;
		};

		gpio2: gpio@ff540000 {
			compatible = "rockchip,gpio-bank";
			reg = <0xff540000 0x100>;
			clocks = <&cru PCLK_GPIO2>, <&cru DBCLK_GPIO2>;
			gpio-controller;
			gpio-ranges = <&pinctrl 0 64 32>;
			interrupts = <GIC_SPI 9 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-controller;
			#gpio-cells = <2>;
			#interrupt-cells = <2>;
		};

		gpio3: gpio@ff550000 {
			compatible = "rockchip,gpio-bank";
			reg = <0xff550000 0x100>;
			clocks = <&cru PCLK_GPIO3>, <&cru DBCLK_GPIO3>;
			gpio-controller;
			gpio-ranges = <&pinctrl 0 96 32>;
			interrupts = <GIC_SPI 11 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-controller;
			#gpio-cells = <2>;
			#interrupt-cells = <2>;
		};

		gpio4: gpio@ff560000 {
			compatible = "rockchip,gpio-bank";
			reg = <0xff560000 0x100>;
			clocks = <&cru PCLK_GPIO4>, <&cru DBCLK_GPIO4>;
			gpio-controller;
			gpio-ranges = <&pinctrl 0 128 32>;
			interrupts = <GIC_SPI 13 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-controller;
			#gpio-cells = <2>;
			#interrupt-cells = <2>;
		};
	};

	soc {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		peri_grf: syscon@ff000000 {
			compatible = "rockchip,rv1106-peri-grf", "syscon";
			reg = <0xff000000 0x10000>;
		};

		pmu_grf: syscon@ff020000 {
			compatible = "rockchip,rv1106-pmu-grf", "syscon", "simple-mfd";
			reg = <0xff020000 0x10000>;

			reboot_mode: reboot-mode {
				compatible = "syscon-reboot-mode";
				offset = <0x200>;
				mode-normal = <BOOT_NORMAL>;
				mode-recovery = <BOOT_RECOVERY>;
				mode-bootloader = <BOOT_FASTBOOT>;
				mode-loader = <BOOT_BL_DOWNLOAD>;
			};
		};

		vi_grf: syscon@ff050000 {
			compatible = "rockchip,rv1106-vi-grf", "syscon";
			reg = <0xff050000 0x10000>;
		};

		vo_grf: syscon@ff060000 {
			compatible = "rockchip,rv1106-vo-grf", "syscon";
			reg = <0xff060000 0x8000>;
		};

		gic: interrupt-controller@ff1f0000 {
			compatible = "arm,gic-400";
			reg = <0xff1f1000 0x1000>,
			      <0xff1f2000 0x2000>,
			      <0xff1f4000 0x2000>,
			      <0xff1f6000 0x2000>;
			interrupts = <GIC_PPI 9 (GIC_CPU_MASK_SIMPLE(1) | IRQ_TYPE_LEVEL_HIGH)>;
			interrupt-controller;
			#interrupt-cells = <3>;
			#address-cells = <0>;	
		};

		i2c0: i2c@ff310000 {
			compatible = "rockchip,rv1106-i2c", "rockchip,rk3399-i2c";
			reg = <0xff310000 0x1000>;
			clocks = <&cru CLK_I2C0>, <&cru PCLK_I2C0>;
			clock-names = "i2c", "pclk";
			interrupts = <GIC_SPI 18 IRQ_TYPE_LEVEL_HIGH>;
			pinctrl-names = "default";
			pinctrl-0 = <&i2c0m0_xfer>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		i2c1: i2c@ff320000 {
			compatible = "rockchip,rv1106-i2c", "rockchip,rk3399-i2c";
			reg = <0xff320000 0x1000>;
			clocks = <&cru CLK_I2C1>, <&cru PCLK_I2C1>;
			clock-names = "i2c", "pclk";
			interrupts = <GIC_SPI 19 IRQ_TYPE_LEVEL_HIGH>;
			pinctrl-names = "default";
			pinctrl-0 = <&i2c1m0_xfer>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		mbox: mbox@ff378000 {
			compatible = "rockchip,rv1106-mailbox", "rockchip,rk3368-mailbox";
			reg = <0xff378000 0x200>;
			clocks = <&cru PCLK_PMU_MAILBOX>;
			clock-names = "pclk_mailbox";
			interrupts = <GIC_SPI 114 IRQ_TYPE_LEVEL_HIGH>;
			#mbox-cells = <1>;
			status = "disabled";
		};

		pmuioc: syscon@ff388000 {
			compatible = "rockchip,rv1106-pmuioc", "syscon";
			reg = <0xff388000 0x1000>;
		};

		cru: clock-controller@ff3a0000 {
			compatible = "rockchip,rv1106-cru";
			reg = <0xff3a0000 0x20000>;
			#clock-cells = <1>;
			#reset-cells = <1>;

			assigned-clocks =
				<&cru PLL_GPLL>, <&cru PLL_CPLL>,
				<&cru ARMCLK>,
				<&cru ACLK_PERI_ROOT>, <&cru HCLK_PERI_ROOT>,
				<&cru PCLK_PERI_ROOT>, <&cru ACLK_BUS_ROOT>,
				<&cru PCLK_TOP_ROOT>, <&cru PCLK_PMU_ROOT>,
				<&cru HCLK_PMU_ROOT>;
			assigned-clock-rates =
				<1188000000>, <1000000000>,
				<1104000000>,
				<400000000>, <200000000>,
				<100000000>, <300000000>,
				<100000000>, <100000000>,
				<200000000>;
		};

		otp: efuse@ff3d0000 {
			compatible = "rockchip,rv1106-otp";
			reg = <0xff3d0000 0x4000>;
			clocks = <&cru CLK_USER_OTPC_NS>, <&cru PCLK_OTPC_NS>,
				 <&cru PCLK_OTP_MASK>, <&cru CLK_SBPI_OTPC_NS>;
			clock-names = "otp", "apb_pclk", "phy", "sbpi";
			resets = <&cru SRST_USER_OTPC_NS>, <&cru SRST_P_OTPC_NS>,
				 <&cru SRST_P_OTP_MASK>, <&cru SRST_SBPI_OTPC_NS>,
				 <&cru SRST_OTPC_ARB>, <&cru SRST_PMC_OTP>;
			reset-names = "otp", "apb", "phy", "sbpi", "arb", "pmc";

			nvmem-layout {
				compatible = "fixed-layout";
				#address-cells = <1>;
				#size-cells = <1>;

				cpu_code: cpu-code@2 {
					reg = <0x02 0x2>;
				};

				otp_cpu_version: cpu-version@8 {
					reg = <0x08 0x1>;
					bits = <3 3>;
				};
				
				otp_id: id@a {
					reg = <0x0a 0x10>;
				};

				cpu_leakage: cpu-leakage@1a {
					reg = <0x1a 0x1>;
				};

				log_leakage: log-leakage@1b {
					reg = <0x1b 0x1>;
				};

				macphy_bgs: macphy-bgs@2d {
					reg = <0x2d 0x1>;
				};

				macphy_txlevel: macphy-txlevel@2e {
					reg = <0x2e 0x2>;
				};
			};
		};

		u2phy: usb2phy@ff3e0000 {
			compatible = "rockchip,rv1106-usb2phy";
			reg = <0xff3e0000 0x8000>;
			clocks = <&cru CLK_REF_USBPHY>, <&cru PCLK_USBPHY>;
			clock-names = "phyclk", "pclk";
			resets = <&cru SRST_USBPHY_POR>, <&cru SRST_P_USBPHY>;
			reset-names = "phy", "apb";
			rockchip,usbgrf = <&peri_grf>;
			#clock-cells = <0>;
			status = "disabled";

			u2phy_otg: otg-port {
				interrupts = <GIC_SPI 58 IRQ_TYPE_LEVEL_HIGH>,
					     <GIC_SPI 59 IRQ_TYPE_LEVEL_HIGH>,
					     <GIC_SPI 60 IRQ_TYPE_LEVEL_HIGH>;
				interrupt-names = "otg-bvalid", "otg-id", "linestate";
				#phy-cells = <0>;
				status = "disabled";
			};
		};

		dmac: dma-controller@ff420000 {
			compatible = "arm,pl330", "arm,primecell";
			reg = <0xff420000 0x4000>;
			clocks = <&cru ACLK_DMAC>;
			clock-names = "apb_pclk";
			interrupts = <GIC_SPI 63 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 64 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 65 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 66 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 67 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 68 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 69 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 70 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 79 IRQ_TYPE_LEVEL_HIGH>;
			#dma-cells = <1>;
			arm,pl330-periph-burst;
		};

		i2c2: i2c@ff450000 {
			compatible = "rockchip,rv1106-i2c", "rockchip,rk3399-i2c";
			reg = <0xff450000 0x1000>;
			clocks = <&cru CLK_I2C2>, <&cru PCLK_I2C2>;
			clock-names = "i2c", "pclk";
			interrupts = <GIC_SPI 20 IRQ_TYPE_LEVEL_HIGH>;
			pinctrl-names = "default";
			pinctrl-0 = <&i2c2m0_xfer>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		i2c3: i2c@ff460000 {
			compatible = "rockchip,rv1106-i2c", "rockchip,rk3399-i2c";
			reg = <0xff460000 0x1000>;
			clocks = <&cru CLK_I2C3>, <&cru PCLK_I2C3>;
			clock-names = "i2c", "pclk";
			interrupts = <GIC_SPI 21 IRQ_TYPE_LEVEL_HIGH>;
			pinctrl-names = "default";
			pinctrl-0 = <&i2c3m0_xfer>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		i2c4: i2c@ff470000 {
			compatible = "rockchip,rv1106-i2c", "rockchip,rk3399-i2c";
			reg = <0xff470000 0x1000>;
			clocks = <&cru CLK_I2C4>, <&cru PCLK_I2C4>;
			clock-names = "i2c", "pclk";
			interrupts = <GIC_SPI 22 IRQ_TYPE_LEVEL_HIGH>;
			pinctrl-names = "default";
			pinctrl-0 = <&i2c4m0_xfer>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		uart0: serial@ff4a0000 {
			compatible = "rockchip,rv1106-uart", "snps,dw-apb-uart";
			reg = <0xff4a0000 0x100>;
			clock-frequency = <24000000>;
			clocks = <&cru SCLK_UART0>, <&cru PCLK_UART0>;
			clock-names = "baudclk", "apb_pclk";
			dmas = <&dmac 7>, <&dmac 6>;
			dma-names = "tx", "rx";
			interrupts = <GIC_SPI 25 IRQ_TYPE_LEVEL_HIGH>;
			pinctrl-names = "default";
			pinctrl-0 = <&uart0m0_xfer>;
			reg-shift = <2>;
			reg-io-width = <4>;
			status = "disabled";
		};

		uart1: serial@ff4b0000 {
			compatible = "rockchip,rv1106-uart", "snps,dw-apb-uart";
			reg = <0xff4b0000 0x100>;
			clock-frequency = <24000000>;
			clocks = <&cru SCLK_UART1>, <&cru PCLK_UART1>;
			clock-names = "baudclk", "apb_pclk";
			dmas = <&dmac 9>, <&dmac 8>;
			dma-names = "tx", "rx";
			interrupts = <GIC_SPI 26 IRQ_TYPE_LEVEL_HIGH>;
			pinctrl-names = "default";
			pinctrl-0 = <&uart1m0_xfer &uart1m0_ctsn &uart1m0_rtsn>;
			reg-shift = <2>;
			reg-io-width = <4>;
			status = "disabled";
		};

		uart2: serial@ff4c0000 {
			compatible = "rockchip,rv1106-uart", "snps,dw-apb-uart";
			reg = <0xff4c0000 0x100>;
			clock-frequency = <24000000>;
			clocks = <&cru SCLK_UART2>, <&cru PCLK_UART2>;
			clock-names = "baudclk", "apb_pclk";
			dmas = <&dmac 11>, <&dmac 10>;
			dma-names = "tx", "rx";
			interrupts = <GIC_SPI 27 IRQ_TYPE_LEVEL_HIGH>;
			pinctrl-names = "default";
			pinctrl-0 = <&uart2m1_xfer>;
			reg-shift = <2>;
			reg-io-width = <4>;
			status = "disabled";
		};

		uart3: serial@ff4d0000 {
			compatible = "rockchip,rv1106-uart", "snps,dw-apb-uart";
			reg = <0xff4d0000 0x100>;
			clock-frequency = <24000000>;
			clocks = <&cru SCLK_UART3>, <&cru PCLK_UART3>;
			clock-names = "baudclk", "apb_pclk";
			dmas = <&dmac 13>, <&dmac 12>;
			dma-names = "tx", "rx";
			interrupts = <GIC_SPI 28 IRQ_TYPE_LEVEL_HIGH>;
			pinctrl-names = "default";
			pinctrl-0 = <&uart3m0_xfer>;
			reg-shift = <2>;
			reg-io-width = <4>;
			status = "disabled";
		};

		uart4: serial@ff4e0000 {
			compatible = "rockchip,rv1106-uart", "snps,dw-apb-uart";
			reg = <0xff4e0000 0x100>;
			clock-frequency = <24000000>;
			clocks = <&cru SCLK_UART4>, <&cru PCLK_UART4>;
			clock-names = "baudclk", "apb_pclk";
			dmas = <&dmac 15>, <&dmac 14>;
			dma-names = "tx", "rx";
			interrupts = <GIC_SPI 29 IRQ_TYPE_LEVEL_HIGH>;
			pinctrl-names = "default";
			pinctrl-0 = <&uart4m0_xfer>;
			reg-shift = <2>;
			reg-io-width = <4>;
			status = "disabled";
		};

		uart5: serial@ff4f0000 {
			compatible = "rockchip,rv1106-uart", "snps,dw-apb-uart";
			reg = <0xff4f0000 0x100>;
			clock-frequency = <24000000>;
			clocks = <&cru SCLK_UART5>, <&cru PCLK_UART5>;
			clock-names = "baudclk", "apb_pclk";
			dmas = <&dmac 17>, <&dmac 16>;
			dma-names = "tx", "rx";
			interrupts = <GIC_SPI 30 IRQ_TYPE_LEVEL_HIGH>;
			pinctrl-names = "default";
			pinctrl-0 = <&uart5m0_xfer &uart5m0_ctsn &uart5m0_rtsn>;
			reg-shift = <2>;
			reg-io-width = <4>;
			status = "disabled";
		};

		spi0: spi@ff500000 {
			compatible = "rockchip,rv1106-spi", "rockchip,rk3066-spi";
			reg = <0xff500000 0x1000>;
			clocks = <&cru CLK_SPI0>, <&cru PCLK_SPI0>, <&cru SCLK_IN_SPI0>;
			clock-names = "spiclk", "apb_pclk", "sclk_in";
			dmas = <&dmac 1>, <&dmac 0>;
			dma-names = "tx", "rx";
			interrupts = <GIC_SPI 23 IRQ_TYPE_LEVEL_HIGH>;
			pinctrl-names = "default";
			pinctrl-0 = <&spi0m0_cs0 &spi0m0_cs1 &spi0m0_pins>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		spi1: spi@ff510000 {
			compatible = "rockchip,rv1106-spi", "rockchip,rk3066-spi";
			reg = <0xff510000 0x1000>;
			assigned-clocks = <&cru CLK_SPI1>;
			assigned-clock-rates = <200000000>;
			clocks = <&cru CLK_SPI1>, <&cru PCLK_SPI1>;
			clock-names = "spiclk", "apb_pclk";
			dmas = <&dmac 3>, <&dmac 2>;
			dma-names = "tx", "rx";
			interrupts = <GIC_SPI 24 IRQ_TYPE_LEVEL_HIGH>;
			pinctrl-names = "default";
			pinctrl-0 = <&spi1m0_cs0 &spi1m0_cs1 &spi1m0_pins>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		ioc: syscon@ff538000 {
			compatible = "rockchip,rv1106-ioc", "syscon";
			reg = <0xff538000 0x40000>;
		};

		system_sram: sram@ff6c0000 {
			compatible = "mmio-sram";
			reg = <0xff6c0000 0x40000>;
			ranges = <0 0xff6c0000 0x40000>;
			#address-cells = <1>;
			#size-cells = <1>;
		};

		sdio: mmc@ff9a0000 {
			compatible = "rockchip,rv1106-dw-mshc", "rockchip,rk3288-dw-mshc";
			reg = <0xff9a0000 0x4000>;
			clocks = <&cru HCLK_SDIO>, <&cru CCLK_SRC_SDIO>,
				 <&cru SCLK_SDIO_DRV>, <&cru SCLK_SDIO_SAMPLE>;
			clock-names = "biu", "ciu", "ciu-drive", "ciu-sample";
			fifo-depth = <0x100>;
			interrupts = <GIC_SPI 49 IRQ_TYPE_LEVEL_HIGH>;
			max-frequency = <200000000>;
			pinctrl-names = "default";
			pinctrl-0 = <&sdmmc1m0_clk>, <&sdmmc1m0_cmd>, <&sdmmc1m0_bus4>;
			status = "disabled";
		};

		gmac: ethernet@ffa80000 {
			compatible = "rockchip,rv1106-gmac", "snps,dwmac-4.20a";
			reg = <0xffa80000 0x10000>;
			clocks = <&cru CLK_GMAC0_TX_50M_O>, <&cru CLK_GMAC0_REF_50M>,
				 <&cru ACLK_MAC>, <&cru PCLK_MAC>;
			clock-names = "stmmaceth", "clk_mac_ref",
				      "aclk_mac", "pclk_mac";
			interrupts = <GIC_SPI 93 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 96 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "macirq", "eth_wake_irq";
			phy-handle = <&rmii_phy>;
			phy-mode = "rmii";
			resets = <&cru SRST_A_MAC>;
			reset-names = "stmmaceth";
			rockchip,grf = <&vo_grf>;
			snps,axi-config = <&stmmac_axi_setup>;
			snps,mixed-burst;	
			snps,mtl-rx-config = <&mtl_rx_setup>;
			snps,mtl-tx-config = <&mtl_tx_setup>;
			snps,tso;
			status = "disabled";
			
			mdio: mdio {
				compatible = "snps,dwmac-mdio";
				#address-cells = <0x1>;
				#size-cells = <0x0>;

				rmii_phy: ethernet-phy@2 {
					compatible = "ethernet-phy-ieee802.3-c22";
					reg = <2>;
					clocks = <&cru CLK_MACPHY>;
					phy-is-integrated;
					resets = <&cru SRST_MACPHY>;
				};
			};

			stmmac_axi_setup: stmmac-axi-config {
				snps,blen = <0 0 0 0 16 8 4>;
				snps,rd_osr_lmt = <8>;
				snps,wr_osr_lmt = <4>;
			};

			mtl_rx_setup: rx-queues-config {
				snps,rx-queues-to-use = <1>;
				queue0 {};
			};

			mtl_tx_setup: tx-queues-config {
				snps,tx-queues-to-use = <1>;
				queue0 {};
			};
		};

		emmc: mmc@ffa90000 {
			compatible = "rockchip,rv1106-dw-mshc", "rockchip,rk3288-dw-mshc";
			reg = <0xffa90000 0x4000>;
			clocks = <&cru HCLK_EMMC>, <&cru CCLK_SRC_EMMC>,
				 <&cru SCLK_EMMC_DRV>, <&cru SCLK_EMMC_SAMPLE>;
			clock-names = "biu", "ciu", "ciu-drive", "ciu-sample";
			fifo-depth = <0x100>;
			interrupts = <GIC_SPI 48 IRQ_TYPE_LEVEL_HIGH>;
			max-frequency = <200000000>;
			pinctrl-names = "default";
			pinctrl-0 = <&emmc_clk &emmc_cmd &emmc_bus8>;
			status = "disabled";
		};

		sdmmc: mmc@ffaa0000 {
			compatible = "rockchip,rv1106-dw-mshc", "rockchip,rk3288-dw-mshc";
			reg = <0xffaa0000 0x4000>;
			clocks = <&cru HCLK_SDMMC>, <&cru CCLK_SRC_SDMMC>,
				 <&cru SCLK_SDMMC_DRV>, <&cru SCLK_SDMMC_SAMPLE>;
			clock-names = "biu", "ciu", "ciu-drive", "ciu-sample";
			fifo-depth = <0x100>;
			interrupts = <GIC_SPI 52 IRQ_TYPE_LEVEL_HIGH>;
			max-frequency = <200000000>;
			pinctrl-names = "default";
			pinctrl-0 = <&sdmmc0_det &sdmmc0_clk &sdmmc0_cmd &sdmmc0_bus4>;
			status = "disabled";
		};

		sfc: spi@ffac0000 {
			compatible = "rockchip,sfc";
			reg = <0xffac0000 0x4000>;
			clocks = <&cru SCLK_SFC>, <&cru HCLK_SFC>;
			clock-names = "clk_sfc", "hclk_sfc";
			interrupts = <GIC_SPI 53 IRQ_TYPE_LEVEL_HIGH>;
			pinctrl-names = "default";
			pinctrl-0 = <&fspi_pins>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		usbdrd3: usb@ffb00000 {
			compatible = "rockchip,rv1106-dwc3", "rockchip,rk3399-dwc3";
			clocks = <&cru CLK_REF_USBOTG>, <&cru CLK_UTMI_USBOTG>,
				 <&cru ACLK_USBOTG>;
			clock-names = "ref_clk", "utmi", "bus_clk";
			ranges;
			resets = <&cru SRST_A_USBOTG>;
			reset-names = "usb3-otg";
			#address-cells = <1>;
			#size-cells = <1>;
			status = "disabled";

			usbdrd_dwc3: usb@ffb00000 {
				compatible = "snps,dwc3";
				reg = <0xffb00000 0x100000>;
				dr_mode = "otg";
				interrupts = <GIC_SPI 54 IRQ_TYPE_LEVEL_HIGH>;
				maximum-speed = "high-speed";
				phys = <&u2phy_otg>;
				phy-names = "usb2-phy";
				phy_type = "utmi_wide";
				snps,dis_enblslpm_quirk;
				snps,dis-u2-freeclk-exists-quirk;
				snps,dis_u2_susphy_quirk;
				snps,dis-del-phy-power-chg-quirk;
				snps,dis-tx-ipgap-linecheck-quirk;
				snps,parkmode-disable-hs-quirk;
				snps,usb2-gadget-lpm-disable;
				snps,usb2-lpm-disable;
				status = "disabled";
			};
		};
	};
};

#include "rv1106-pinctrl.dtsi"
